.date-container {
  padding: 1.5vw;
  font-weight: lighter;
}

.date,
.hours {
  font-size: 2.5vw;
}

.logo {
  width: 15vw;
}

.app-title {
  font-size: 3vw;
  font-weight: lighter;
}

.underline {
  margin: -3.5vw 0 0 27.3vw;
  width: 49vw;
  height: 1.3vw;
  background: rgba(255, 217, 0, 0.761);
  border-radius: 1vw;
}

.cta{
  width: 80%;
  margin: 10vw auto;
  p{
    font-size: 5vw;
    margin-bottom: 8vw;
  }
}
